@model GestionClinica.Models.Clinicas

@{
    ViewBag.Title = "Detalle Clinica";
}

<h2>Detalle de Hora</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechadehora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechadehora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarClinica", new { id = Model.IdClinica }) |
    @Html.ActionLink("Volver a la Lista", "ListaClinicas")
</p>
